body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  background-color: #f3f4f6;
  font-family: system-ui, 'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
}